<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) or 'Emmet layout' %></title>

  <% if content_for?(:stylesheets) %>
    <%= yield(:stylesheets) %>
  <% else %>
    <%= stylesheet_link_tag 'emmet/layout/application', media: 'all' %>
  <% end %>

  <% if content_for?(:javascripts) %>
    <%= yield(:javascripts) %>
  <% else %>
    <%= javascript_include_tag 'emmet/layout/application' %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<% if content_for?(:menu_navbar) %>
  <%= yield(:menu_navbar) %>
<% else %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= yield(:page_title) or 'Emmet layout' %></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<% end %>

<% if content_for?(:content) %>
  <%= yield(:content) %>
<% else %>
  <%= yield %>
<% end %>

<% if content_for?(:footer) %>
  <%= yield(:footer) %>
<% else %>
  <footer class="container text-right">
    Emmet Layout Footer
  </footer>
<% end %>

</body>
</html>
