<% content_for :page_title, 'Dummy Emmet layout' %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'emmet/layout/application', media: 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'emmet/layout/application' %>
<% end %>

<% content_for :menu_navbar do %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dummy Emmet layout</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>

<% content_for :content do %>
  <section class="container">
    <%= yield %>
  </section>
<% end %>

<% content_for :footer do %>
  <footer class="container text-right">
    <small><i>Dummy Emmet Layout Footer</i></small>
  </footer>
<% end %>

<%= render template: 'layouts/emmet/layout/application' %>
