<div class="starter-template">
  <h1>Emmet starter layout</h1>
  <p class="lead">
    Use this document as a way to quickly start any new project.<br>
    All you get is this text and a mostly barebones HTML document.
  </p>
</div>
